body{
    margin: 0%;
    overflow-x: hidden;
    box-sizing: border-box;
}
.container1{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: white;
    padding-top: 8px;
    padding-left: 45%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}
.logo{
    width: 136px;
    height: 24px;
    margin-top: 22px;
    margin-left: -467px;
}   
 .menu1{
    width: 200px;
    height: 20px;
    margin: 20px;
    margin-left: 50px;
    margin-right: 29px;
    color: #666;
    font-family: "Roboto",sans-serif;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-bottom: 0%;
} 
.header-menu{
   margin-top: 38px;
padding-bottom: 0;
padding-top: -20px;
flex-direction: row;
justify-content: space-evenly;
justify-content: right;
    }
#menu1{
    margin-left: 448px;
}
.fig1{
    height: 42px;
    width: 50px;
    margin-top: -15px;
    margin-left: 361px;
    color: #666;
}
.container2{
    width: 100%;
    height: 538px;
    background-color:white;
}
.fig2{
    width: 442.95px;
    height: 276px;
    margin-left: 523px;
    margin-top: 10px;
}
.big-letter{
    width: 753px;
    height: 81px;
    margin-left: 364px;
    margin-top: 17px;
    text-align: center;
    font-size: 58px;
    font-family: "Inter", serif;
    color: rgb(114, 100, 100);
}
.small-letter{
    height: 20px;
    margin-top: -20px;
    margin-left: 429px;
    font-size: 20px;
    font-family: "Inter", serif;
}
.button{
    width: 205px;
    height: 50px;
    color: white;
    background-color: #387ed1;
    margin-left: 640px;
    margin-top: 0px;
    font-size: 20px;
    font-family: "Roboto",sans-serif;
    font-weight: 600;
    border: 0px;
}
.container3{
    width: 100%;
    height: 500px;
    background-color:white;
    display: flex;
}
.fig3{
    width: 516px;
    height: 345px;
    margin-left: 104px;
    margin-top: 53px;
}
.fig-logo{
    height: 44px;
    width: 412px;
    margin-top: -7px;
    margin-left: 802px;
}
.outer-box{
    width: 100px;
    height: 200px;
    margin-left: 50px;
    margin-top: 50px;
}
.outer-box2{
    width: 522px;
    height: 345px;
    background-color: white;
    margin-left: 673px;
    margin-top: 101px;
}
.small-letter1{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-size: larger;
}
.list{
    display: flex;
    font-family: "Inter", serif;
    font-size: 20px;
}
.sction1{
    margin-left: 10px;
    margin-top: 20px;

}
.container4{
    width: 100%;
    height: 741px;
    background-color: white;
}
.big-letter2{
    margin-left: 545px;
    margin-top: 76px;
    font-size: 18px;
    color: rgb(114, 100, 100);
}
.small-letter2{
    font-size: 18px;
    margin-left: -22px;
    margin-top: 10px;
}
.fig4{
    
    margin-top: 112px;
    margin-left: 157px;
}
.container5{
    width: 100%;
    height: 883px;
    background-color: white;
}
.big-letter3{
    margin-left: 204px;
    margin-top: 18px;
    position: relative;
    top: 103px;
}.outer-box3{
    width: 290px;
    height: 235px;
    background-color: white;
    margin-top: -1px;
    margin-left: 1019px;
    border: 2px solid rgb(235, 166, 166)
}
.outer-box4{
    width: 290px;
    height: 235px;
    background-color: white;
    margin-top: -239px;
    margin-left: 729px;
    border: 2px solid rgb(235, 166, 166);

}.number{
    font-size: 57px;
    margin-top: 16px;
    margin-left: 101px;

}
.small-letter4{
    font-size: 19px;
    margin-top: 16px;
    margin-left: 55px;
}
.number2{
    font-size: 57px;
    margin-top: 16px;
    margin-left: 101px;
}
.a1{
    font-size: 15px;


}
.a2{
    font-size: 15px;

}
.fig5{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 141px;

}
.a4{
    margin: 0;
    width: 1862%;
    height: 400px;
    background-color: white;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    margin-top: -289px;
    margin-left: 597px;
    font-size: 24px;

}.a5{
    width: 20px;
    height: 20px;
    font-size: 10px;
    margin-top: 20px;
    margin-left: 141px;

}
.a6{
    width: 268px;
    height: 114px;
    margin-top: -324px;
    margin-left: 653px;
    font-size: 19px;



}.a7{
    width: 268px;
    height: 114px;
    margin-top: 53px;
    margin-left: 654px;
    font-size: 19px;
}
.container6{
    height: 211px;
    width: 100%;
    background-color: white;
}
.a8{
    height: 77px;
    width: 541px;
    font-size: 39px;
    margin-left: 506px;
    color: rgb(114, 100, 100);
}
.a9{
    height: 20px;
    width: 654px;
    font-size: 18px;
    margin-left: 385px;
    margin-top: -18px;

}.button2{
    width: 205px;
    height: 50px;
    color: white;
    background-color: #387ed1;
    margin-left: 610px;
    margin-top: 0px;
    font-size: 20px;
    font-family: "Roboto",sans-serif;
    font-weight: 600;
    border: 0px;
}
.container7{
    width: 100%;
    height: 500px;
    background-color: rgb(248, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.container7 ul{
    list-style-type: none;
    line-height: 40px;
    font-size: large;
    }
.div1{
   
    width: 280px;
    height: 410px;
}
.div2{
    width: 280px;
    height: 410px;
}
.div3{
    width: 280px;
    height: 410px;
}
.div4{
    width: 280px;
    height: 410px;
}
.logo2{
    width: 148px;
    height: 27px;
    position: relative;
    top: 40px;
    left: 65px
}.a10{
    margin-top: 60px;

}
.twitter{
    height: 31px;
    width: 33px;
    margin-top: 20px;
    margin-left: 26px;
}
.facebook{
    height: 31px;
    width: 33px;
    margin-top: 20px;
    margin-left: 14px;
}
.instagram{
    height: 31px;
    width: 33px;
    margin-top: 20px;
    margin-left: 14px;
}
.linkdin{
    height: 31px;
    width: 33px;
    margin-top: 20px;
    margin-left: 14px;
}
.telegram{
    height: 31px;
    width: 33px;
    margin-top: 20px;
    margin-left: 14px;
}